<%= render 'shared/page_header', text: 'Sign in' %>

<%= form_with(url: sign_in_path, builder: TailwindFormBuilder) do |form| %>
  <%= render('shared/alert_box', message: alert) if alert %>
  <%= render('shared/notice_box', message: notice) if notice %>

  <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", class: "w-full mb-3" %>
  <%= form.password_field :password, required: true, autocomplete: "current-password", class: "w-full mb-3" %>
  <%= form.submit "Sign in", class: "w-full mt-3" %>
<% end %>

<div class="mt-6">
  <%= link_to "Forgot your password?", new_identity_password_reset_path %>
</div>
