<%= render(SectionComponent.new(title: @album.title)) do %>
  <div class="flex flex-col gap-6">
    <%= render BreadcrumbComponent.new(items: [
        { text: 'My account', link: account_path },
        { text: @album.artist.name, link: edit_artist_path(@album.artist) },
        { text: @album.title }
      ]) %>
  </div>

  <%= render(SidebarSectionComponent.new(title: 'Details')) do %>
    <div class="flex flex-col gap-3">
      <div class="w-full md:w-1/2">
        <% if @album.cover.attached? %>
          <%= image_tag cdn_url(@album.cover.representation(resize_to_limit: [750, 750])), class: 'w-full border border-slate-200' %>
        <% end %>
      </div>

      <div class="grid grid-cols-2 gap-3">
        <div class="font-semibold text-gray-700">Title</div>
        <div><%= @album.title %></div>

        <div class="font-semibold text-gray-700">About</div>
        <div><%= @album.about.truncate_words(30) %></div>

        <div class="font-semibold text-gray-700">Credits</div>
        <div><%= @album.credits.truncate_words(30) %></div>

        <div class="font-semibold text-gray-700">Released</div>
        <div><%= @album.released_on %></div>

        <div class="font-semibold text-gray-700">License</div>
        <div><%= @album.license.label %></div>

        <div class="font-semibold text-gray-700">Tags</div>
        <div><%= @album.tags.join(',') %></div>

        <div class="font-semibold text-gray-700">Price</div>
        <div><%= @album.price %></div>

        <div class="font-semibold text-gray-700">Visibility</div>
        <div><%= @album.publication_status %></div>
      </div>

      <div class="flex flex-row justify-end">
        <%= render(ButtonComponent.new(
          text: 'Edit details',
          path: edit_admin_artist_album_path(@album.artist, @album),
          link: true
          )) %>
      </div>
    </div>
  <% end %>

  <%= render(SidebarSectionComponent.new(title: 'Tracks')) do %>
    <ul class='divide-y divide-gray-200 -mt-3 mb-3'>
      <% @album.tracks.each do |track| %>
        <li class='py-3 flex justify-between items-center'>
          <div>
            <span class="text-gray-500 mr-3"><%= track.position %></span>
            <%= link_to(track.title, edit_admin_artist_album_track_path(@album.artist, @album, track), class: 'underline hover:bg-amber-500') %>
          </div>
          <div>
            <%= button_to admin_artist_album_track_path(@album.artist, @album, track),
                method: :delete,
                form: { data: { turbo_confirm: "Are you sure?" } },
                class: 'flex align-center',
                aria: { label: "Delete #{track.title}" },
                title: "Delete #{track.title}" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hover:fill-red-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>

            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="flex flex-row justify-end gap-3">
      <%= render(ButtonComponent.new(
          text: 'Add multiple tracks',
          path: multiple_admin_artist_album_tracks_path(@album.artist, @album),
          link: true,
          secondary: true
          )) %>
      <%= render(ButtonComponent.new(
          text: 'Add track',
          path: new_admin_artist_album_track_path(@album.artist, @album),
          link: true
          )) %>
    </div>
  <% end %>
<% end %>
