<%= form_with(model: artist, class: "contents", builder: TailwindFormBuilder) do |form| %>
  <%= render ModelErrorComponent.new(model: artist) %>
  <%= form.text_field :name, class: 'w-full mb-3' %>
  <%= form.text_field :location, class: 'w-full mb-3' %>
  <%= form.text_field :description, class: 'w-full mb-3' %>
  <% if form.object.profile_picture.attached? %>
    <%= form.label :profile_picture, "Profile picture (#{form.object.profile_picture.filename})" %>
  <% else %>
    <%= form.label :profile_picture, "Profile picture" %>
  <% end %>
  <%= form.file_field :profile_picture, class: 'mb-3 block border border-slate-200 mb-6 file:mr-3 file:px-3 file:py-3 w-full file:border-0 file:bg-amber-600 hover:file:bg-amber-500 file:text-white' %>

  <p class="mb-3">By creating an artist profile on jam.coop and
    uploading your music you confirm you have read and agree to our
    <%= text_link_to "Terms of use", terms_path %>. In particular you
    must own the rights to, or have permission from the rights-holder
    for any music or other content you upload.</p>

  <div class="flex flex-row justify-end">
    <%= form.submit "Save changes", class: 'mt-3' %>
  </div>
<% end %>
