<%= simple_form_for(artist) do |form| %>
  <%= form.input :name %>
  <%= form.input :location %>
  <%= form.input :description %>
  <%= form.input :profile_picture %>

  <p>By creating an artist profile on jam.coop and
    uploading your music you confirm you have read and agree to our
    <%= text_link_to "Terms of use", terms_path %>. In particular you
    must own the rights to, or have permission from the rights-holder
    for any music or other content you upload.</p>

  <%= form.button :submit %>
<% end %>
