<div class="border-b border-slate-300 mb-6">
  <h1 class="text-2xl font-bold mb-1"><%= @artist.name %></h1>
</div>

<%= render(AccountNavComponent.new(user: @artist.user)) %>

<%= render(SidebarSectionComponent.new(title: 'Artist details')) do %>
  <%= render "form", artist: @artist %>
<% end %>

<%= render(SidebarSectionComponent.new(title: 'Albums')) do %>
  <div class="grid grid-cols-3 gap-4">
    <% @artist.albums.in_release_order.each do |album| %>
      <%= link_to(edit_artist_album_path(album.artist, album)) do %>
        <%= render(CardComponent.new(
          title: album.title,
          subtitle: ( album.publication_status if !album.published? ),
          image: ( cdn_url(album.cover.representation(resize_to_limit: [1000, 1000])) if album.cover.representable? )
        )) %>
      <% end %>
    <% end %>
  </div>
<% end %>
