<%= render(SectionComponent.new(title: "Editing #{@artist.name}")) do %>
  <%= render BreadcrumbComponent.new(items: [
      { text: 'My account', link: account_path },
      { text: @artist.name },
    ]) %>

  <%= render(SidebarSectionComponent.new(title: 'Artist details')) do %>
    <%= render "form", artist: @artist %>
  <% end %>

  <%= render(SidebarSectionComponent.new(title: 'Profile links')) do |component| %>
    <% component.with_subtitle do %>
      <p>These links will be shown on your <%= link_to 'profile page', artist_path(@artist), class: 'underline' %>.</p>
    <% end %>

    <ul class='divide-y divide-gray-200 -mt-3 mb-3'>
      <% @artist.profile_links.each do |link| %>
        <li class='py-3 flex justify-between items-center' style="view-transition-name: link-<%= link.id %>">
          <div>
            <span class="text-gray-500 mr-3"><%= link.position %></span>
            <%= link_to(link.url, edit_admin_artist_profile_link_path(@artist, link), class: 'underline hover:bg-amber-500') %>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="flex flex-col sm:flex-row justify-end gap-3">
      <%= render(ButtonComponent.new(
          text: 'Add link',
          path: new_admin_artist_profile_link_path(@artist),
          link: true
          )) %>
    </div>
  <% end %>

  <%= render(SidebarSectionComponent.new(title: 'Albums')) do %>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
      <% @artist.albums.includes(cover_attachment: :blob).in_release_order.each do |album| %>
        <%= link_to(admin_artist_album_path(album.artist, album)) do %>
          <%= render(CardComponent.new(
      title: album.title,
      subtitle: ( album.publication_status if !album.published? ),
      image: ( cdn_url(album.cover.representation(resize_to_limit: [1000, 1000])) if album.cover.representable? )
      )) %>
        <% end %>
      <% end %>

      <%= link_to(new_admin_artist_album_path(@artist)) do %>
        <div class="border border-slate-500 border-dashed hover:border-solid aspect-w-1 aspect-h-1">
          <div class="grid place-items-center">
            <div class="flex gap-2 items-center text-amber-600">
              <span>
                <svg class="fill-amber-600" width="14" height="14" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14 8.5H8V14.5H6V8.5H0V6.5H6V0.5H8V6.5H14V8.5Z" />
                </svg>
              </span>
              Add album
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
