<%
set_meta_tags(
  title: "Artists",
)
%>

<% content_for(:auto_discovery) do %>
  <%= auto_discovery_link_tag(:atom, { format: :atom }, { title: 'Artists on jam.coop' }) %>
<% end %>

<% content_for :admin do %>
  <% if policy(Artist).new? %>
    <%= link_to "New artist", new_artist_path, class: 'link' %>
  <% end %>
<% end %>

<%= render 'shared/box', title: 'Artists' do %>
  <div class="grid">
    <% @artists.order(:name).each do |artist| %>
      <%= link_to(artist_path(artist)) do %>
        <%= render 'shared/card',
                   image_url: card_image_url(artist.profile_picture),
                   title: "#{artist.name}#{artist.listed? ? '' : ' (unlisted)'}" %>
      <% end %>
    <% end %>
  </div>
<% end %>
