<%
set_meta_tags(
  title: "Artists",
)
%>

<% content_for(:auto_discovery) do %>
  <%= auto_discovery_link_tag(:atom, { format: :atom }, { title: 'Artists on jam.coop' }) %>
<% end %>

<% content_for :admin do %>
  <% if policy(Artist).new? %>
    <%= link_to "New artist", new_artist_path, class: 'link' %>
  <% end %>
<% end %>

<%= render 'shared/box', title: 'Artists' do %>
  <div class="grid">
    <% @artists.order(:name).each do |artist| %>
      <%= link_to(artist_path(artist)) do %>
        <div class="jam-card stack">
          <div class="frame">
            <% if artist.profile_picture.representable? %>
              <%= image_tag cdn_url(artist.profile_picture.representation(resize_to_fill: [300, 300])) %>
            <% end %>
          </div>
          <h3 class="jam-card__title"><%= artist.name %><%= artist.listed? ? '' : ' (unlisted)' %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
