<%
  set_meta_tags(
    title: "Artists",
  )
%>

<% content_for(:auto_discovery) do %>
  <%= auto_discovery_link_tag(:atom, { format: :atom }, { title: 'Artists on jam.coop' }) %>
<% end %>

<%= render('shared/page_header', text: 'Artists') %>

<div class="pt-4 grid grid-cols-3 gap-4">
  <% @artists.order(:name).each do |artist| %>
    <div>
      <%= link_to(artist_path(artist)) do %>
        <div class="border border-slate-200 w-full aspect-w-1 aspect-h-1">
          <% if artist.profile_picture.representable? %>
            <%= image_tag cdn_url(artist.profile_picture.representation(resize_to_fill: [300, 300])), class: 'w-full' %>
          <% end %>
        </div>
        <p class='text-sm text-slate-500 break-words'><%= artist.name %><%= artist.listed? ? '' : ' (unlisted)' %></p>
      <% end %>
    </div>
  <% end %>
</div>
