<div class="flex flex-row border-b-2 border-b-slate-100 pb-6">
  <div class="basis-1/4 mr-4 m:mr-0">
    <% if @artist.profile_picture.representable? %>
    <%= image_tag @artist.profile_picture.representation(resize_to_limit: [150, 150]), class: 'm-auto' %>
    <% end %>
  </div>
  <div class="basis-3/4">
    <h2 class="text-2xl font-semibold"><%= @artist.name %></h2>
    <p class="text-slate-400 mb-4"><%= @artist.location %></p>
    <p><%= @artist.description %></p>
  </div>
</div>

<div class="pt-4 grid grid-cols-3 gap-4">
  <% @albums.in_release_order.each do |album| %>
    <%= link_to(artist_album_path(album.artist, album)) do %>
    <div>
      <div class="border border-slate-200">
        <% if album.cover.representable? %>
        <%= image_tag album.cover.representation(resize_to_limit: [1000, 1000]), class: 'w-full' %>
        <% end %>
      </div>
      <p class='text-sm text-slate-500'><%= album.title %><%= album.published? ? '' : ' (unpublished)' %></p>
    </div>
    <% end %>
  <% end %>

  <% content_for :admin do %>
    <% if policy(Album).new? %>
      <%= link_to "Add album", new_artist_album_path(@artist), class: 'underline' %>
    <% end %>
  <% end %>
</div>
