<h1 class="text-2xl font-bold">My account</h1>

<div class="flex flex-col divide-y divide-slate-300">
  <section class="flex flex-row py-6">
    <div class="basis-1/4">
      <h2 class="text-lg font-bold">Password</h2>
    </div>
    <div class="basis-3/4">
      <%= form_with(url: password_path, method: :patch, builder: TailwindFormBuilder) do |form| %>
        <%= render 'shared/errors', model: @user %>
        <%= form.password_field :current_password, required: true, autofocus: true, autocomplete: "current-password", class: "w-full mb-3" %>
        <%= form.password_field :password, label: { text: "New password"}, required: true, autocomplete: "new-password", class: "w-full mb-3" %>
        <%= form.password_field :password_confirmation, label: { text: "Confirm new password"}, required: true, autocomplete: "new-password", class: "w-full mb-3" %>
        <div class="flex flex-row justify-end">
          <%= form.submit "Save changes", class: "mt-3" %>
        </div>
      <% end %>
    </div>
  </section>
  <section class="flex flex-row py-6">
    <div class="basis-1/4">
      <h2 class="text-lg font-bold">Email address</h2>
    </div>
    <div class="basis-3/4">
      <p>form goes here</p>
    </div>
  </section>
  <section class="flex flex-row py-6">
    <div class="basis-1/4">
      <h2 class="text-lg font-bold">Payout details</h2>
    </div>
    <div class="basis-3/4">
      <p>form goes here</p>
    </div>
  </section>
</div>

<ul>
  <li><%= text_link_to "Change email address", edit_identity_email_path %></li>
  <% if Current.user.payout_detail %>
    <li><%= text_link_to "Edit payout details", edit_payout_detail_path %></li>
  <% else %>
    <li><%= text_link_to "Add payout details", new_payout_detail_path %></li>
  <% end %>
</ul>
