<%= render(SectionComponent.new(title: 'My account')) do %>
  <div class="flex flex-col divide-y divide-slate-300">
    <%= render(SidebarSectionComponent.new(title: 'Artists')) do |component| %>
      <% component.with_subtitle do %>
        <p>Artists associated with your account</p>
      <% end %>

      <div class="grid grid-cols-3 gap-4">
        <% @user.artists.each do |artist| %>
          <%= link_to(edit_artist_path(artist)) do %>
            <%= render(CardComponent.new(
                title: artist.name,
                subtitle: '',
              image: ( cdn_url(artist.profile_picture.representation(resize_to_limit: [1000, 1000])) if artist.profile_picture.representable? )
              )) %>
          <% end %>
        <% end %>

        <%= link_to(new_artist_path) do %>
          <div class="border border-slate-500 border-dashed hover:border-solid aspect-w-1 aspect-h-1">
            <div class="grid place-items-center">
              <div class="flex gap-2 items-center text-amber-600">
                <span>
                  <svg class="fill-amber-600" width="14" height="14" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 8.5H8V14.5H6V8.5H0V6.5H6V0.5H8V6.5H14V8.5Z" />
                  </svg>
                </span>
                Add artist
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

    <%= render(SidebarSectionComponent.new(title: 'Password')) do %>
      <%= form_with(url: password_path, method: :patch, builder: TailwindFormBuilder) do |form| %>
        <% if flash[:incorrect_password] %>
          <%= render ErrorBoxComponent.new(title: 'Incorrect password').with_content(flash[:incorrect_password]) %>
        <% end %>
        <% if @user.errors.include?(:password) %>
          <%= render ModelErrorComponent.new(model: @user) %>
        <% end %>
        <%= form.password_field :current_password, required: true, autofocus: true, autocomplete: "current-password", class: "w-full mb-3" %>
        <%= form.password_field :password, label: { text: "New password"}, required: true, autocomplete: "new-password", class: "w-full mb-3" %>
        <%= form.password_field :password_confirmation, label: { text: "Confirm new password"}, required: true, autocomplete: "new-password", class: "w-full mb-3" %>
        <div class="flex flex-row justify-end">
          <%= form.submit "Save changes", class: "mt-3" %>
        </div>
      <% end %>
    <% end %>

    <%= render(SidebarSectionComponent.new(title: 'Email address')) do %>
      <% unless Current.user.verified? %>
        <div class="mb-3 border border-slate-300 p-3 flex flex-col gap-2">
          <p>We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
          <%= render(ButtonComponent.new(
                text: 'Re-send verification email',
                path: identity_email_verification_path,
                class: ['w-full']))
              %>
        </div>
      <% end %>

      <%= form_with(url: identity_email_path, method: :patch, builder: TailwindFormBuilder) do |form| %>
        <% if flash[:emails_update_password_incorrect] %>
          <%= render ErrorBoxComponent.new(title: 'Incorrect password').with_content(flash[:emails_update_password_incorrect]) %>
        <% end %>
        <% if @user.errors.include?(:email) %>
          <%= render ModelErrorComponent.new(model: @user) %>
        <% end %>
        <%= form.email_field :email, label: { text: "New email" }, required: true, autofocus: true, class: 'w-full mb-3' %>
        <%= form.password_field :current_password, required: true, autocomplete: "current-password", class: 'w-full mb-3' %>
        <div class="flex flex-row justify-end">
          <%= form.submit "Save changes", class: 'mt-3' %>
        </div>
      <% end %>
    <% end %>

    <%= render(SidebarSectionComponent.new(title: 'Payout details')) do %>
      <p class="text-slate-500 mb-6">We use <a class="underline" href="https://wise.com">Wise</a> to make payouts once a month. Wise will email you at <span class="font-bold"><%= Current.user.email %></span> to ask for your bank details. To make the payment we need the following:</p>

      <% payout_detail = @user.payout_detail || PayoutDetail.new(user: @user) %>
      <%= form_with(model: payout_detail, class: "contents", builder: TailwindFormBuilder) do |form| %>
        <%= render ModelErrorComponent.new(model: payout_detail) %>
        <%= form.text_field :name, placeholder: 'Bartholomew J. Simpson', class: 'w-full' %>
        <p class="text-slate-500 italic text-sm mb-3">Your full name as used on your bank account.</p>

        <%= form.select :country, options_for_payout_details_country_select, include_blank: true, label: { text: 'Country / Region' }, class: 'w-full' %>
        <p class="text-slate-500 italic text-sm mb-3">We support payouts to the regions/countries <a href="https://wise.com/help/articles/2571942/what-countriesregions-can-i-send-to" class="underline">that Wise supports</a>.</p>

        <div class="flex flex-row justify-end">
          <% if payout_detail.persisted? %>
            <%= form.submit "Save changes", class: 'mt-3'%>
          <% else %>
            <%= form.submit "Add payout details", class: 'mt-3'%>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= render(SidebarSectionComponent.new(title: 'Email preferences')) do |component| %>
      <% component.with_subtitle do %>
        <p>Manage which emails you receive from jam.coop.</p>
      <% end %>

      <%= form_with(model: @user, url: users_newsletter_preference_path, method: :patch, builder: TailwindFormBuilder) do |form| %>
        <div class="flex items-center gap-3 mb-6">
          <%= form.check_box :opt_in_to_newsletter, class: 'h-6 w-6 text-amber-600 rounded border-slate-300' %>
          <label for="user_opt_in_to_newsletter">
            Newsletter (an occasional email with updates on new features)
          </label>
        </div>
        <div class="flex flex-row justify-end">
          <%= form.submit "Save changes", class: 'mt-3'%>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
