<h1 class="text-2xl font-bold">My account</h1>

<div class="flex flex-col divide-y divide-slate-300">
  <section class="flex flex-row py-6">
    <div class="basis-1/4">
      <h2 class="text-lg font-bold">Password</h2>
    </div>
    <div class="basis-3/4">
      <%= form_with(url: password_path, method: :patch, builder: TailwindFormBuilder) do |form| %>
        <% if flash[:incorrect_password] %>
          <%= render ErrorBoxComponent.new(title: 'Incorrect password').with_content(flash[:incorrect_password]) %>
        <% end %>
        <% if @user.errors.include?(:password) %>
          <%= render ModelErrorComponent.new(model: @user) %>
        <% end %>
        <%= form.password_field :current_password, required: true, autofocus: true, autocomplete: "current-password", class: "w-full mb-3" %>
        <%= form.password_field :password, label: { text: "New password"}, required: true, autocomplete: "new-password", class: "w-full mb-3" %>
        <%= form.password_field :password_confirmation, label: { text: "Confirm new password"}, required: true, autocomplete: "new-password", class: "w-full mb-3" %>
        <div class="flex flex-row justify-end">
          <%= form.submit "Save changes", class: "mt-3" %>
        </div>
      <% end %>
    </div>
  </section>
  <section class="flex flex-row py-6">
    <div class="basis-1/4">
      <h2 class="text-lg font-bold">Email address</h2>
    </div>
    <div class="basis-3/4">
      <% unless Current.user.verified? %>
        <div class="mb-3 border border-slate-300 p-4">
          <p>We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
          <p><%= button_to "Re-send verification email", identity_email_verification_path, class: 'py-3 px-5 bg-amber-600 hover:bg-amber-500 text-white font-medium cursor-pointer my-3' %></p>
        </div>
      <% end %>

      <%= form_with(url: identity_email_path, method: :patch, builder: TailwindFormBuilder) do |form| %>
        <% if flash[:emails_update_password_incorrect] %>
          <%= render ErrorBoxComponent.new(title: 'Incorrect password').with_content(flash[:emails_update_password_incorrect]) %>
        <% end %>
        <% if @user.errors.include?(:email) %>
          <%= render ModelErrorComponent.new(model: @user) %>
        <% end %>
        <%= form.email_field :email, label: { text: "New email" }, required: true, autofocus: true, class: 'w-full mb-3' %>
        <%= form.password_field :current_password, required: true, autocomplete: "current-password", class: 'w-full mb-3' %>
        <div class="flex flex-row justify-end">
          <%= form.submit "Save changes", class: 'mt-3' %>
        </div>
      <% end %>
    </div>
  </section>
  <section class="flex flex-row py-6">
    <div class="basis-1/4">
      <h2 class="text-lg font-bold">Payout details</h2>
    </div>
    <div class="basis-3/4">
      <p>form goes here</p>
    </div>
  </section>
</div>

<ul>
  <% if Current.user.payout_detail %>
    <li><%= text_link_to "Edit payout details", edit_payout_detail_path %></li>
  <% else %>
    <li><%= text_link_to "Add payout details", new_payout_detail_path %></li>
  <% end %>
</ul>
