<% content_for :head do %>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer data-turbo-track="reload" data-turbo-temporary="true"></script>
<% end %>

<%= render 'shared/box', title: 'Sign up' do %>
  <%= form_with(url: sign_up_path, data: { turbo: false }) do |form| %>
    <div class="stack">
      <%= render('shared/new_errors', model: @user) %>

      <div class="stack jam-form-group">
        <%= form.label :email, "Email" %>
        <%= form.email_field :email, value: @user.email, required: true, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="stack jam-form-group">
        <%= form.label :password, "Password" %>
        <%= form.password_field :password, required: true, autocomplete: "new-password" %>
      </div>

      <div class="stack jam-form-group">
        <%= form.label :password_confirmation, "Password confirmation" %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
      </div>

      <%= cloudflare_turnstile %>

      <%= form.submit "Sign up" %>
    </div>
  <% end %>
<% end %>
