<%= render('shared/alert_box', message: alert) if alert %>

<%= form_for([@album.artist, @album , @purchase], builder: TailwindFormBuilder) do |form| %>
<div class="flex justify-center">
  <div class="w-1/2 border">
    <%= image_tag cdn_url(@album.cover.representation(resize_to_limit: [750, 750])), class: 'w-full border border-slate-200' %>
  </div>

  <div class="w-1/2 ml-3">
    <p class="mb-3">You are purchasing <strong><%= @album.title %></strong> by
    <%= @album.artist.name %> in MP3 V0 and FLAC (lossless)
    formats.</p>

    <%= form.currency_field :price, symbol: '£', class: 'w-full mb-2', autofocus: true %>
    <p class="text-xs text-slate-600 mb-4">Futher support <%= @album.artist.name %> by paying more than the suggested price of <%= number_to_currency(@album.price, unit: '£') %></p>

    <%= form.check_box :contact_opt_in, class: 'mr-2' %>
    <%= form.label :contact_opt_in, "Add me to the mailing list for #{@album.artist.name}", class: 'text-slate-600' %>
  </div>
</div>

<div class="mt-3">
  <%= form.submit 'Checkout', data: { turbo: false }, class: 'w-full' %>
</div>
<% end %>
