<%= render('shared/alert_box', message: alert) if alert %>

<div class="flex justify-center">
  <div class="w-1/2 border">
    <%= image_tag @album.cover.representation(resize_to_limit: [750, 750]), class: 'w-full border border-slate-200' %>
  </div>

  <div class="w-1/2 ml-3">
    <p>You are purchasing <strong><%= @album.title %></strong> by
    <%= @album.artist.name %> in MP3 V0 and FLAC (lossless)
    formats.</p>
  </div>
</div>

<div class="mt-3">
  <%= button_to 'Checkout', artist_album_purchases_path, data: { turbo: false }, class: 'w-full py-3 bg-amber-500 hover:bg-amber-400 text-white font-medium cursor-pointer' %>
</div>
