<%= render('shared/notice_box', message: notice) if notice %>
<%= render('shared/page_header', text: 'Admin') %>

<ul class="list-disc">
  <li><%= text_link_to "Change password", edit_password_path %></li>
  <li><%= text_link_to "Change email address", edit_identity_email_path %></li>
  <li><%= text_link_to "Access log", sessions_path %></li>
</ul>

<div class="mt-6 text-slate-300">
  <%= button_to "Log out", Current.session, method: :delete %>
</div>
