<%= render('shared/notice_box', message: notice) if notice %>
<%= render('shared/page_header', text: 'Admin') %>

<ul class="list-disc">
  <li><%= link_to "Change password", edit_password_path, class: "underline decoration-amber-600 hover:bg-amber-500" %></li>
  <li><%= link_to "Change email address", edit_identity_email_path, class: "underline decoration-amber-600 hover:bg-amber-500" %></li>
  <li><%= link_to "Access log", sessions_path, class: "underline decoration-amber-600 hover:bg-amber-500" %></li>
</ul>

<div class="mt-6 text-slate-300">
  <%= button_to "Log out", Current.session, method: :delete %>
</div>
