<% if alert %>
<div class="w-full border border-red-600 p-4 my-4">
  <%= alert %>
</div>
<% end %>

<% if Current.user.verified? %>
  <%= render 'shared/page_header', text: 'Change your email' %>
<% else %>
  <%= render 'shared/page_header', text: 'Verify your email' %>

  <div class="my-6 border border-slate-300 p-4">
    <p>We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
    <p><%= button_to "Re-send verification email", identity_email_verification_path, class: 'py-3 px-5 bg-amber-600 hover:bg-amber-500 text-white font-medium cursor-pointer my-3' %></p>
  </div>
<% end %>

<%= form_with(url: identity_email_path, method: :patch, builder: TailwindFormBuilder) do |form| %>
  <%= render 'shared/errors', model: @user %>
  <%= form.email_field :email, label: { text: "New email" }, required: true, autofocus: true, class: 'w-full mb-3' %>
  <%= form.password_field :current_password, required: true, autocomplete: "current-password", class: 'w-full mb-3' %>
  <%= form.submit "Save changes", class: 'w-full mt-3' %>
<% end %>

<div class="mt-6">
  <%= link_to "Back", root_path, class: "underline decoration-amber-600 hover:bg-amber-500" %>
</div>
