<p style="color: red"><%= alert %></p>

<% if Current.user.verified? %>
  <h1>Change your email</h1>
<% else %>
  <h1>Verify your email</h1>
  <p>We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
  <p><%= button_to "Re-send verification email", identity_email_verification_path %></p>
<% end %>

<%= form_with(url: identity_email_path, method: :patch) do |form| %>
  <%= render 'shared/errors', model: @user %>

  <div>
    <%= form.label :email, "New email", style: "display: block" %>
    <%= form.email_field :email, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.label :current_password, style: "display: block" %>
    <%= form.password_field :current_password, required: true, autocomplete: "current-password" %>
  </div>

  <div>
    <%= form.submit "Save changes" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back", root_path %>
</div>
