<%= render('shared/page_header', text: 'About') %>

<h2 class="text-2xl tracking-tight leading-10 mb-3">What is jam.coop?</h2>

<p class="mb-3 leading-relaxed">jam.coop is a new online service that allows musicians
to connect with and sell music directly to their fans.</p>

<p class="mb-3 leading-relaxed">We plan to have features similar to other services,
such as Bandcamp, but with a crucial difference: jam.coop is a
co-operative run by and for the benefit of musicians and the people
who build the platform. We're not for sale and never will be.</p>

<h2 class="text-2xl tracking-tight leading-10 mb-3">Who runs jam.coop?</h2>

<p class="mb-3 leading-relaxed">jam.coop is built by a small software
development company called <%= text_link_to "Go Free Range",
"https://gofreerange.com" %>. We're a company owned and run by our
workers - a worker co-operative.</p>

<p class="mb-3 leading-relaxed">We have experience of building this
kind of thing. We helped build <%= text_link_to "FutureLearn",
"https://futurelearn.com" %>, an online marketplace for
mass-participation university courses and <%= text_link_to "BBC
Introducing", "https://www.bbc.co.uk/introducing" %>, a service for
musicians to upload their music to the BBC and get it played on the
radio.</p>

<h2 class="text-2xl tracking-tight leading-10 mb-3">Who owns jam.coop?</h2>

<p class="mb-3 leading-relaxed">jam.coop is owned by Go Free Range and we haven't
taken on any external funding. Our vision, if we can build something
successful, is to "exit to the community". jam.coop will become a
multi-stakeholder co-operative owned and democratically run by
musicians, the workers at Go Free Range and any other staff we may
need to take on in the future.</p>

<p class="mb-3 leading-relaxed">We want to start small and move
quickly. We're "incubating" this new co-operative within Go Free Range
to begin with. We're covering the costs of development and
infrastructure so that we can build something useful to musicians as
quickly as possible. If we can get to the point where jam.coop is
self-funding we'll be in a great place to "exit to the
community". We're already working with advisors from <%= text_link_to "Principal Six Co-op", "https://www.uk.coop/directory/principle-six" %> on how the new co-op will be structured.</p>

<h2 class="text-2xl tracking-tight leading-10 mb-3">When will you be ready?</h2>

<p class="mb-3 leading-relaxed">We're busy building the first, simplest version of jam.coop.</p>

<p class="mb-3 leading-relaxed">Here's a sketch of our roadmap:</p>

<h3 class="text-xl tracking-tight leading-10 my-2">Building now</h3>

<ul class="list-disc list-inside">
  <li>Artist pages so fans can find your music</li>
  <li><a class="underline" href="/artists/under-shaded-trees/albums/1858">Album pages</a> so fans can listen to your music</li>
  <li>Transcoding services so your music is available to download in MP3 and FLAC formats</li>
  <li>Credit card processing so fans can buy your music and download it to their devices</li>
</ul>

<h3 class="text-xl tracking-tight leading-10 my-2">Building next</h3>

<ul class="list-disc list-inside mb-3">
  <li>Collection pages so fans can listen to their purchases in one place</li>
  <li>Follow features so fans can be notified of your news and new releases</li>
  <li>Support for merchandise and physical sales</li>
  <li>Support for record labels</li>
</ul>

<h2 class="text-2xl tracking-tight leading-10 mb-3">This sounds great. How can I find out when you launch?</h2>

<p class="mb-3 leading-relaxed"><%= text_link_to "Sign up to our mailing list", root_path %> you'll be the first to know!</p>

<h2 class="text-2xl tracking-tight leading-10 mb-3">How much do musicians earn?</h2>

<p class="mb-3 leading-relaxed">To cover the costs of running and building jam.coop a
15% fee is taken from each sale (in addition to processing fees
charged by our payment processor Stripe.</p>

<p class="mb-3 leading-relaxed">We're not sure what the best fee structure will be in
the longer term - we need to balance sustainability, speed of
development and fairness. We'll be entirely transparent about our
finances and involve musicians and workers in the decision of how to
set these fees.</p>

<h2 class="text-2xl tracking-tight leading-10 mb-3">Where does the profit go?</h2>

<p class="mb-3 leading-relaxed">If jam.coop makes a profit we will distribute that to musicians and
workers using a formula we all agree on. We don't want to get ahead of
ourselves here, we're a long way from making a profit yet. But for
inspiration <%= text_link_to "Stocksy", "https://share.stocksy.com/patronage-2021" %>,
a stock photo co-operative owned by photographers and workers paid out
a substantial patronage dividend to its photographers in 2021. That's
where we'd like to get to.</p>

<h2 class="text-2xl tracking-tight leading-10 mb-3">How do I sell my music on jam.coop?</h2>

<p class="mb-3 leading-relaxed">We'd love to have you!<p>

<p class="mb-3 leading-relaxed">We want to provide a personal service to our first
musicians so that we can work out exactly what you need. If you are an
adventurous early-adopter and don't mind some rough edges,
please <%= text_link_to "get in touch", "mailto:chris@jam.coop" %>.</p>

<h2 class="text-2xl tracking-tight leading-10 mb-3">Is jam.coop open-source?</h2>

<p class="mb-3 leading-relaxed">Not yet. Running a successful open source project
requires a lot of time and we can't do that and build jam.coop at the
same time at the moment. When we "exit to community" we will
open-source the code. And if we ever have to shut down jam.coop, we'll
open-source it too.</p>

<h2 class="text-2xl tracking-tight leading-10 mb-3">I have another question!</h2>

<p class="mb-3 leading-relaxed">Great! <%= text_link_to "drop us a line", "mailto:chris@jam.coop" %> or chat to Chris
on <%= text_link_to "mastodon", "https://ruby.social/@chrislowis" %>.</p>
