<%
  set_meta_tags(
    title: "An online music store. Owned by us.",
  )
%>

<h1 class="text-4xl tracking-tight leading-10 font-extrabold mb-3">An online music store. <span class="text-amber-600">Owned by us.</span></h1>

<div class="max-w-3xl mb-6">
  <p class="mb-3 text-slate-600">We're a co-operatively owned music store, 100% run by and for the benefit of musicians, fans and the people who work here. <%= text_link_to "Find out more", about_path %>.</p>
</div>

<div class="grid grid-col gap-6">
  <% if @featured_artist %>
    <%= render(
  SectionComponent.new(title: 'Featured Artist')
) do %>
      <div class="flex flex-col sm:flex-row gap-6">
        <div class="w-full sm:w-1/2">
          <%= link_to(artist_path(@featured_artist)) do %>
            <%= render(CardComponent.new(
                image: ( cdn_url(@featured_artist.profile_picture.representation(resize_to_limit: [1000, 1000])) if @featured_artist.profile_picture.representable? )
      )) %>
          <% end %>
        </div>
        <div class="w-full sm:w-1/2 flex flex-col gap-3 sm:justify-between">
          <div class="flex flex-col gap-3">
            <div>
              <h2 class="text-2xl font-semibold"><%= @featured_artist.name %></h2>
              <p class="text-slate-400"><%= @featured_artist.location %></p>
            </div>
            <p><%= @featured_artist.description %></p>
          </div>
          <div class="flex flex-col gap-1">
            <h3 class="font-semibold">Recent albums</h3>
            <div class="grid grid-cols-4 gap-2">
              <% @featured_artist.albums.with_attached_cover.in_release_order.limit(4).each do |album| %>
                <div>
                  <%= link_to(artist_album_path(album.artist, album)) do %>
                    <%= render(CardComponent.new(
                      image: ( cdn_url(album.cover.representation(resize_to_limit: [300, 300])) if album.cover.representable? )
      )) %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render(
  SectionComponent.new(title: 'Best selling')
) do %>
    <%= render(CardGridComponent.new) do %>
      <% @best_selling_albums.each do |album| %>
        <%= link_to(artist_album_path(album.artist, album)) do %>
          <%= render(CardComponent.new(
          title: album.title,
          subtitle: album.artist.name,
          image: ( cdn_url(album.cover.representation(resize_to_limit: [1000, 1000])) if album.cover.representable? )
        )) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
