<%
  set_meta_tags(
    title: "A new music platform. For us.",
  )
%>

<h1 class="text-4xl tracking-tight leading-10 font-extrabold mb-3">A new music platform. <br /> <span class="text-amber-600">For us.</span></h1>

<div class="max-w-3xl">
<p class="mb-3 text-slate-600">We're a co-operative music platform, 100% run by and for the benefit of musicians, fans and the people who make it. <%= text_link_to "Find out more", about_path %>.</p>
</div>

<section class="mt-6 mb-12">
  <h2 class="text-slate-400 mb-3 uppercase">Recently added</h2>
  <div class="grid grid-cols-4 gap-4 mb-3">
    <% Album.published.order('RANDOM()').take(8).each do |album| %>
    <%= link_to(artist_album_path(album.artist, album)) do %>
    <div>
      <div class="border border-slate-200 aspect-w-1 aspect-h-1">
        <% if album.cover.representable? %>
        <%= image_tag cdn_url(album.cover.representation(resize_to_limit: [1000, 1000])), class: 'object-cover' %>
        <% end %>
      </div>
      <p class='text-sm text-slate-500 break-words'><%= album.title %></p>
      <p class='text-sm text-slate-400 break-words'><%= album.artist.name %></p>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="flex justify-end">
    <%= text_link_to "more", artists_path %>
  </div>
</section>

<section class="bg-slate-300 p-6">
<h2 class="text-2xl tracking-tight leading-10 font-bold mb-3">Newsletter</h2>
  <p class="mb-6 leading-relaxed">For the latest news and
  developments, fill in your email and we'll be in touch.</p>

  <%= render "form", interest: @interest %>
</section>
