<%
  set_meta_tags(
    title: "A new music platform. For us.",
  )
%>

<h1>A new music platform. <br /> <span>For us.</span></h1>

<div>
<p>We're a co-operative music platform, 100% run by and for the benefit of musicians, fans and the people who make it. <%= link_to "Find out more", about_path %>.</p>
</div>

<section>
  <h2>Recently purchased</h2>
  <div>
    <% Album.best_selling.limit(8).each do |album| %>
    <%= link_to(artist_album_path(album.artist, album)) do %>
    <div>
      <div>
        <% if album.cover.representable? %>
        <%= image_tag cdn_url(album.cover.representation(resize_to_limit: [1000, 1000])) %>
        <% end %>
      </div>
      <p><%= album.title %></p>
      <p><%= album.artist.name %></p>
    </div>
    <% end %>
    <% end %>
  </div>
</section>
