<p class="text-slate-500 mb-6">We use <a class="underline" href="https://wise.com">Wise</a> to make payouts once a month. Wise will email you at <span class="font-bold"><%= Current.user.email %></span> to ask for your bank details. To make the payment we need the following:</p>

<%= form_with(model: payout_detail, class: "contents", builder: TailwindFormBuilder) do |form| %>
  <%= render ModelErrorComponent.new(model: payout_detail) %>
  <%= form.text_field :name, placeholder: 'Bartholomew J. Simpson', class: 'w-full' %>
  <p class="text-slate-500 italic text-sm mb-3">Your full name as used on your bank account.</p>

  <%= form.select :country, options_for_payout_details_country_select, include_blank: true, label: { text: 'Country / Region' }, class: 'w-full' %>
  <p class="text-slate-500 italic text-sm mb-3">We support payouts to the regions/countries <a href="https://wise.com/help/articles/2571942/what-countriesregions-can-i-send-to" class="underline">that Wise supports</a>.</p>

  <%= form.submit "Save", class: 'mt-6 w-full'%>
<% end %>
