<%= render(SectionComponent.new(title: 'Edit label')) do %>
  <%= render BreadcrumbComponent.new(items: [
      { text: 'My account', link: account_path },
      { text: 'Edit label' }
    ]) %>

  <%= render(SidebarSectionComponent.new(title: 'Label details')) do %>
    <%= render "form", label: @label %>
  <% end %>

  <%= render(SidebarSectionComponent.new(title: 'Release')) do |component| %>
    <% component.with_subtitle do %>
      <p>Albums that are released by your label.</p>
    <% end %>

    <div class="grid grid-cols-3 gap-4">
      <%= link_to(new_admin_label_release_path(@label)) do %>
        <div class="border border-slate-500 border-dashed hover:border-solid aspect-w-1 aspect-h-1">
          <div class="grid place-items-center">
            <div class="flex gap-2 items-center text-amber-600">
              <span>
                <svg class="fill-amber-600" width="14" height="14" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14 8.5H8V14.5H6V8.5H0V6.5H6V0.5H8V6.5H14V8.5Z" />
                </svg>
              </span>
              Add release
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
