<%
  set_meta_tags(
    title: "#{@album.title} by #{@album.artist.name}",
    og: {
      title: :title,
      image: (@album.cover.attached? ? cdn_url(@album.cover.representation(resize_to_limit: [750, 750])) : ''),
      url: artist_album_url(@album.artist, @album),
      type: "music.album",
      description: "An album by #{@album.artist.name} released on jam.coop - a music platform run by and for artists",
    },
    twitter: {
      player: {
        _: artist_album_player_url(@album.artist, @album),
        height: Rails.configuration.x.player.height,
        width: Rails.configuration.x.player.width
      }
    }
  )
%>

<div class="flex flex-row gap-3 justify-end mb-3">
  <% if policy(@album).edit? %>
    <div class="w-full py-2 px-3 flex flex-col sm:flex-row gap-2 sm:items-center sm:justify-between border-2 border-sky-200 bg-sky-100">
      <% if @album.draft? %>
        <p>This album is in <strong>draft</strong>. Only you can see it.</p>
      <% end %>
      <% if @album.published? %>
        <p>This album is <strong>published</strong>. Everyone can see it.</p>
      <% end %>

      <%= link_to edit_artist_album_path(@album.artist, @album), class: 'inline-flex gap-2 items-center hover:underline font-medium text-sm' do %>
        <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
          <path d="M11.06 6.02L11.98 6.94L2.92 16H2V15.08L11.06 6.02ZM14.66 0C14.41 0 14.15 0.1 13.96 0.29L12.13 2.12L15.88 5.87L17.71 4.04C18.1 3.65 18.1 3.02 17.71 2.63L15.37 0.29C15.17 0.09 14.92 0 14.66 0ZM11.06 3.19L0 14.25V18H3.75L14.81 6.94L11.06 3.19Z" fill="currentColor" stroke-width="0.25" />
        </svg>
        Edit album
      <% end %>
    </div>
  <% end %>
</div>

<%= render(SectionComponent.new()) do %>
  <div data-controller="player">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="w-full md:w-1/2">
        <% if @album.cover.attached? %>
          <%= image_tag cdn_url(@album.cover.representation(resize_to_limit: [750, 750])), class: 'w-full border border-slate-200' %>
        <% end %>
      </div>
      <div class="w-full md:w-1/2">
        <div class="mb-3">
          <h1 class="text-lg font-medium leading-tight"><%= @album.title %></h1>
          <h2 class="text-sm text-slate-600"><%= link_to @album.artist.name, artist_path(@album.artist), class: "hover:underline" %></h2>
          <h3 data-player-target="trackTitle" class="invisible text-sm italic text-slate-500">one</h3>
        </div>

        <% if @album.preview && @album.preview.file %>
          <audio controls class='w-full hidden' data-player-target="audio" data-action="ended->player#ended timeupdate->player#progress" src="<%= cdn_url(@album.preview.file) %>">
          </audio>
        <% end %>

        <div class="my-3">
          <div class="flex gap-1 my-1">
            <button data-action="player#playPrev" class="flex justify-center items-center w-1/5 py-3 bg-slate-500 hover:bg-amber-400 text-white font-medium cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z" />
              </svg>
            </button>
            <button data-action="player#play" data-player-target="playButton" class="flex justify-center items-center w-3/5 py-3 bg-slate-600 hover:bg-amber-500 text-white font-medium cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
              </svg>
            </button>
            <button data-action="player#pause" data-player-target="pauseButton" class="hidden flex justify-center items-center py-3 w-3/5 bg-slate-600 hover:bg-amber-500 text-white font-medium cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
              </svg>
            </button>
            <button data-action="player#playNext" class="flex justify-center items-center w-1/5 py-3 bg-slate-500 hover:bg-amber-400 text-white font-medium cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z" />
              </svg>
            </button>
          </div>
          <div data-action="click->player#setProgress" data-player-target="progressContainer" class="w-full h-4 bg-slate-200 cursor-pointer">
            <div data-player-target="progress" class="w-0 h-4 bg-slate-500"></div>
          </div>
        </div>

        <div>
          <% if Current.user && Current.user.owns?(@album) %>
            <p class="mb-2">You own this album:</p>
            <ul class="list-disc list-inside">
              <% Purchase.find_by(album: @album, user: Current.user).purchase_downloads.each do |download| %>
                <li><%= text_link_to "Download (#{download.format})", cdn_url(download.file) %></li>
              <% end %>
            </ul>
          <% else %>
            <%= render(ButtonComponent.new(
                text: 'Buy',
                path: new_artist_album_purchase_path(@album.artist, @album),
                class: ['w-full'],
                method: :get,
                disabled: !@album.published?
              )) %>
            <p class="text-xs text-slate-600"><%= number_to_currency(@album.price, unit: '£') %> or more. Digital download. MP3 and FLAC</p>
          <% end %>
        </div>
      </div>
    </div>

    <section class="my-6">
      <% @album.tracks.each_with_index do |track, index| %>
        <div class="flex flex-row justify-between mb-2">
          <% if track.preview && track.preview.file %>
            <div data-player-target="track" data-action="click->player#playTrack" data-track-url="<%= cdn_url(track.preview.file) %>">
              <%= index + 1 %>. <span class="hover:underline cursor-pointer"><%= track.title %></span> <span class="text-slate-400"> <%= seconds_to_formated_track_time(track.preview_duration) %></span>
            </div>
          <% else %>
            <div>
              <%= index + 1 %>. <%= track.title %>
            </div>
          <% end %>

          <% if policy(track).reorder? %>
            <div>
              <%= text_link_to 'Up', move_higher_track_path(track), data: { turbo_method: :post } %>
              <%= text_link_to 'Down', move_lower_track_path(track), data: { turbo_method: :post } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>

    <% if @album.about %>
      <section class="mb-6">
        <%= format_metadata(@album.about) %>
      </section>
    <% end %>

    <% if @album.credits %>
      <section>
        <%= format_metadata(@album.credits) %>
      </section>
    <% end %>
  </div>

  <section class="mt-6">
    <% if @album.released_on %>
      <p><strong>Released:</strong> <%= @album.released_on.strftime('%B %-d, %Y') %></p>
    <% end %>

    <% if @album.license.source %>
      <p><strong>License:</strong> <%= link_to @album.license.label, @album.license.source, class: 'underline' %></p>
    <% else %>
      <p><strong>License:</strong> <%= @album.license.label %></p>
    <% end %>

    <% if @album.tags.any? %>
      <p><strong>Tags:</strong> <%= safe_join(@album.tags.map { |t| link_to(t.name, tag_path(t), class: 'underline') }, ', ') %></p>
    <% end %>
  </section>

  <% content_for :admin do %>
    <div>
      <h2 class="text-2xl my-3">Transcodes</h2>
      <ul>
        <% @album.tracks.each do |track| %>
          <li><strong><%= track.title %></strong> <%= track.transcodes.pluck(:format).join(" ") %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
