<h1><%= @album.title %></h1>
<h2><%= @album.artist.name %></h2>
<%= image_tag @album.cover.representation(resize_to_limit: [400, 400]) %>

<ol>
  <% @album.tracks.each_with_index do |track, index| %>
  <li><%= index + 1 %>. <%= track.title %></li>
  <% end %>
</ol>

<%= text_link_to 'Add track', new_artist_album_track_path(@album.artist, @album) %>
