<%= form_for([:admin, track.album.artist, track.album, track], builder: TailwindFormBuilder) do |form| %>
  <%= render ModelErrorComponent.new(model: track) %>

  <%= render(SidebarSectionComponent.new(title: 'Details')) do |component| %>
    <% component.with_subtitle do %>
      <p>File must be in <strong>wav</strong> format.</p>
    <% end %>

    <%= form.text_field :title, class: 'w-full mb-6', required: true %>

    <% if form.object.original.attached? %>
      <%= form.labels :original, text: "File (#{form.object.original.filename})" %>
    <% else %>
      <%= form.labels :original, text: "File" %>
    <% end %>

    <%= form.file_field :original, accept: 'audio/x-wav', direct_upload: true, class: 'block border border-slate-200 mb-2 file:mr-3 file:px-3 file:py-3 w-full file:border-0 file:bg-amber-500 hover:file:bg-amber-400 file:text-white file:font-medium' %>

    <div class="flex flex-row justify-end">
      <%= form.submit "Save", class: 'mt-3' %>
    </div>
  <% end %>
<% end %>
