<%= render(SectionComponent.new(title: 'Add multiple tracks')) do %>
  <div class="flex flex-col gap-3">
    <%= render BreadcrumbComponent.new(items: [
        { text: 'My account', link: account_path },
        { text: @album.artist.name, link: edit_artist_path(@album.artist) },
        { text: @album.title, link: admin_artist_album_path(@album.artist, @album) },
        { text: 'New tracks' }
      ]) %>

    <%= form_with url: create_multiple_admin_artist_album_tracks_path(@album.artist, @album),
        data: { controller: 'direct-upload', action: 'direct-uploads:start->direct-upload#start direct-uploads:end->direct-upload#end' },
        builder: TailwindFormBuilder do |form| %>

      <%= render(SidebarSectionComponent.new(title: 'Files')) do |component| %>
        <% component.with_subtitle do %>
          <p>Files must be in <strong>wav</strong> format. File names will be used as track names but can be edited later.</p>
        <% end %>

        <%= form.labels :original, text: "Upload files" %>

        <%= form.file_field :original,
        accept: 'audio/x-wav',
        direct_upload: true,
        multiple: true,
        data: { action: 'direct-upload:progress->direct-upload#progress direct-upload:error->direct-upload#error' },
        class: 'block border border-slate-200 mb-2 file:mr-3 file:px-3 file:py-3 w-full file:border-0 file:bg-amber-500 hover:file:bg-amber-400 file:text-white file:font-medium' %>

        <progress data-direct-upload-target="progress" value="0" max="100" class="w-full mb-3 invisible">32%</progress>

        <div class="flex flex-row gap-3 justify-end">
          <%= render(ButtonComponent.new(text: 'Cancel', path: admin_artist_album_path(@album.artist, @album), link: true, secondary: true)) %>
          <%= form.submit "Save", data: { 'direct-upload-target': 'submit' } %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
