<%= render 'shared/page_header', text: 'Change your password' %>

<%= form_with(url: password_path, method: :patch, builder: TailwindFormBuilder) do |form| %>
  <%= render 'shared/errors', model: @user %>
  <%= form.password_field :current_password, required: true, autofocus: true, autocomplete: "current-password", class: "w-full mb-3" %>
  <%= form.password_field :password, label: { text: "New password"}, required: true, autocomplete: "new-password", class: "w-full mb-3" %>
  <%= form.password_field :password_confirmation, label: { text: "Confirm new password"}, required: true, autocomplete: "new-password", class: "w-full mb-3" %>
  <%= form.submit "Save changes", class: "w-full mt-3" %>
<% end %>

<div class="mt-6">
  <%= text_link_to "Back", root_path %>
</div>
