<table class="table-auto w-full">
  <thead class="bg-slate-300">
    <tr>
      <th class="text-left">Date</th>
      <th class="text-left">Amount</th>
      <th class="text-left">Platform fee</th>
      <th class="text-left">Transaction ref</th>
      <th class="text-left">Destination ref</th>
    </tr>
  </thead>
  <tbody>
    <% payouts.each do |payout| %>
      <tr>
        <td class="border"><%= payout.created_at.to_date %></td>
        <td class="border"><%= number_to_currency(payout.amount, unit: "£") %></td>
        <td class="border"><%= number_to_currency(payout.platform_fee, unit: "£") %></td>
        <td class="border"><%= payout.transaction_reference %></td>
        <td class="border"><%= payout.destination_reference %></td>
      </tr>
    <% end %>
  </tbody>
</table>
