<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: "jam.coop" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= content_for(:auto_discovery) %>
    <% if Rails.env.production? %>
      <script defer data-domain="jam.coop" src="https://plausible.io/js/script.js"></script>
    <% end %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>

  <body class="bg-slate-100 p-3">
    <%= render(ToastComponent.new(message: alert, type: :alert)) %>
    <%= render(ToastComponent.new(message: notice, type: :notice)) %>

    <div class="mx-auto max-w-screen-lg w-full text-slate-800">
      <%= render partial: 'application/navbar' %>

      <%= yield %>

      <footer class="flex flex-row justify-between mt-2 mb-4 text-slate-400 text-sm px-2 sm:px-0">
        <div class="flex flex-row gap-6">
          <div>
            <p><%= link_to "About", about_url, class: "underline" %></p>
            <p><%= link_to "Terms of use", terms_url, class: "underline" %></p>
          </div>
          <div>
            <p><a href="https://www.instagram.com/jamdotcoop/" class="underline">Instagram</a></p>
            <p><a rel="me" href="https://mastodon.social/@jamcoop" class="underline">Mastodon</a></p>
            <p><a href="https://bsky.app/profile/jam.coop" class="underline">Bluesky</a></p>
          </div>
        </div>
        <div>
          <p>A <a class="underline" href="https://gofreerange.com">Go Free Range</a> project</p>
        </div>
      </footer>
      <% if Current.user&.admin? && content_for(:admin) %>
        <section id="admin" class="bg-slate-200 p-2 mb-4 sm:p-6 sm:mt-4 sm:shadow-sm rounded">
          <%= content_for :admin %>
        </section>
      <% end %>
    </div>
  </body>
</html>
