<!DOCTYPE html>
<html>
  <head>
    <title>jam.coop - A new music platform. For us.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="bg-slate-100">
    <div class="mx-auto sm:w-2/3 w-full text-slate-800">
      <nav class="w-full flex justify-between items-center h-10 px-2 sm:mt-2">
        <div><a href="/" class="text-l font-semibold text-slate-500">jam.coop</a></div>
        <% if Current.user %>
          <%= render partial: 'avatar_menu', locals: { user: Current.user } %>
        <% end %>
      </nav>
      <div class="bg-white p-2 sm:p-6 sm:mt-2 sm:shadow-sm">
        <%= yield %>
      </div>
      <footer class="flex flex-row justify-end mt-2 text-slate-400 text-sm px-2 sm:px-0">
        <p>A <a class="underline" href="https://gofreerange.com">Go Free Range</a> project</p>
      </footer>
      <% if Current.user&.admin? && content_for(:admin) %>
      <div class="bg-slate-200 p-2 mb-4 sm:p-6 sm:mt-4 sm:shadow-sm rounded">
        <%= content_for :admin %>
      </div>
      <% end %>
    </div>
  </body>
</html>
