<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: "jam.coop" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="bg-slate-100">
    <div class="mx-auto sm:w-2/3 w-full text-slate-800">
      <nav class="w-full flex justify-between items-center h-10 px-2 sm:mt-2">
        <div><a href="/" class="text-l font-semibold text-slate-500">jam.coop</a></div>
        <div class="flex gap-4 items-center">
          <%= content_for(:navbar) %>

          <% if Current.user %>
            <%= render partial: 'avatar_menu', locals: { user: Current.user } %>
          <% else %>
            <%= link_to "sign up", sign_up_path, class: "underline text-slate-500" %>
            <%= link_to "log in", log_in_path, class: "underline text-slate-500" %>
          <% end %>
        </div>
      </nav>
        <% if flash[:alert].present? %>
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline"><%= flash[:alert] %></span>
          </div>
        <% end %>
      <div class="bg-white p-2 sm:p-6 sm:mt-2 sm:shadow-sm">
        <%= yield %>
      </div>
      <footer class="flex flex-row justify-between mt-2 mb-4 text-slate-400 text-sm px-2 sm:px-0">
        <div>
          <p><%= link_to "About", about_url, class: "underline" %></p>
          <p><%= link_to "Terms of use", terms_url, class: "underline" %></p>
        </div>
        <div>
          <p>A <a class="underline" href="https://gofreerange.com">Go Free Range</a> project</p>
        </div>
      </footer>
      <% if Current.user&.admin? && content_for(:admin) %>
      <div class="bg-slate-200 p-2 mb-4 sm:p-6 sm:mt-4 sm:shadow-sm rounded">
        <%= content_for :admin %>
      </div>
      <% end %>
    </div>
  </body>
</html>
