<!DOCTYPE html>
<html>
  <head>
    <title>jam.coop - A new music platform. For us.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="bg-slate-100">
    <div class="mx-auto sm:w-2/3 w-full text-slate-800">
      <div class="bg-white p-8 sm:mt-4 sm:shadow-sm">
        <%= yield %>
      </div>
      <footer class="flex flex-row justify-end mt-2 mr-2 sm:mr-0">
        <p class="text-slate-400 text-sm">A <a class="underline" href="https://gofreerange.com">Go Free Range</a> project
        </p>
      </footer>
    </div>
  </body>
</html>
