<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: "jam.coop" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= content_for(:auto_discovery) %>
    <% if Rails.env.production? %>
      <script defer data-domain="jam.coop" src="https://plausible.io/js/script.js"></script>
    <% end %>
  </head>

  <body>
    <div class="center" style="--measure: 79.25rem;">
      <nav>
        <div><a href="/">jam.coop</a></div>
        <div>
          <%= content_for(:navbar) %>

          <div>
            <% if Current.user %>
            <div>
              <%= link_to collection_path do %>
              <svg viewBox="0 0 40 40" width="2.5em" height="2.5em" xmlns="http://www.w3.org/2000/svg"><path d="M20 5C11.7167 5 5 11.7167 5 20V31.6667C5 33.5 6.5 35 8.33333 35H15V21.6667H8.33333V20C8.33333 13.55 13.55 8.33333 20 8.33333C26.45 8.33333 31.6667 13.55 31.6667 20V21.6667H25V35H31.6667C33.5 35 35 33.5 35 31.6667V20C35 11.7167 28.2833 5 20 5ZM11.6667 25V31.6667H8.33333V25H11.6667ZM31.6667 31.6667H28.3333V25H31.6667V31.6667Z" fill="#1E293B"/>
</svg>
              <% end %>
            </div>
            <% else %>
            <%= link_to "sign up", sign_up_path %>
            <%= link_to "log in", log_in_path %>
            <% end %>
          </div>
        </div>
      </nav>
      <div>
        <% if alert %>
        <div><%= alert %></div>
        <% end %>

        <% if notice %>
        <div><%= notice %></div>
        <% end %>

        <%= yield %>
      </div>
      <footer>
        <div>
          <p><%= link_to "About", about_url %></p>
          <p><%= link_to "Terms of use", terms_url %></p>
        </div>
        <div>
          <p>A <a href="https://gofreerange.com">Go Free Range</a> project</p>
        </div>
      </footer>
      <% if Current.user&.admin? && content_for(:admin) %>
      <div>
        <%= content_for :admin %>
      </div>
      <% end %>
    </div>
  </body>
</html>
